<!DOCTYPE html>
<html>
  <head>
    <title>Oatmeal Stout</title>
    <link type="text/css" rel="stylesheet" href="css/oatmeal-style.css">
    <link rel="icon" type="image/ico" href="/favicon.ico" />
  </head>
  <body>
    <div class="header"><b>Header</b></div>
    <div class="container">
      <% @names.each do |user| %>
        <div class="infobox">
            <div class="infotext"><b>Ingredients</b></div>
          <%= user %>
        </div>
      <% end %>
    </div>
  </body>
</html>

