<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>External template</title>
    </head>
    <body>
        <% @names.each do |user| %>
        <p><%= user %>! </p>
        <% end %>
    </body>
</html>